<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<p>From the header</p>
		
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i id="logo" class="icon code"></i>Blog Site</div>
				<a class="item" href="/">Home</a>
				<a class="item" href="/blogs/new">New Blog</a>
			</div>
		</div>