body {
  width: 60%;
  margin: 20px auto;
  border: 20px solid #bdc3c7;
}

div {
  padding: 0 15px;
}

h4 {
  color: #3498db;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
} 

h2 {
  color: #2c3e50;
}

.blockquote {
  border-left: 4px solid #bdc3c7;
  padding-left: 10px;
}

hr {
  border: 1px solid #F5F5F5;
}