body {
  border: 20px solid #bdc3c7;
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.date {
  color: #3498db;
  text-transform: uppercase;
  /*rems are not set by the parent element, but rather the root
    element on the page
    This is a nice way to do proportional fonts without having
    to worry about what's nested inside of what
    rem = root em/element */
  letter-spacing: 0.2rem;
}

.post {
  margin-bottom: 20px;
}

h2 {
  color: #2c3e50;
  font-size: 2.0rem;
}

hr {
  border: 1px solid #F5F5F5;
}