<h1>Sign Up Form</h1>

<form action="/register" method="POST">
	<!-- naame name="" set on inputs below, or won't be passed in the POST -->
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<!-- Can use an input with type equals submit or a button,
	  So long as the button is at the end of the form,
	  it'll submit in the same way
	-->
	<button>Submit</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
